  // 显示以往记录
  function isLogged (arr, year, month, date){
    
    console.log(arr)
    console.log(year)
    if(!arr) return;
    var flag = false;
    for(var i = 0; i < arr.length; i++){
      if(flag) break;
      flag = flag || (arr[i].date == date &&  arr[i].month == month && arr[i].year == year)
    }
    return flag;
  }


  module.exports = {
    isLogged: isLogged
  }
